<header>
    <div class="container">
        <nav class="navbar navbar-expand-md bg-body-tertiary " *ngIf="users.visible">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" >Food🍕Corner</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="cart-page">Cart
                        🛒</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     User
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="login-page" (click)="users.hide()">Login</a></li>
                      <li><a class="dropdown-item" routerLink="signup-page" (click)="users.hide()">Signup</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="logout-page" (click)="logout()">Logout</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#">👤 {{userName}}</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" name="search" placeholder="Search" [(ngModel)]="searchItem" aria-label="Search" >
                  <button class="btn btn-warning" type="submit" (click)="search()">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </div>
</header>
<app-tags></app-tags>

